.field2fork-logo {
    max-height: 20px;
}

.login-container {
    background: #F2F2F2;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    
}

.login-btn {
    background-color: #00B207;
    color: #FFFFFF;
}

.signuphere-text {
    color: #1A1A1A;
    font-weight: bold;
    text-decoration: none;
}